* {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  font-family: sans-serif;
  background: linear-gradient(45deg, #a1d4a1, #a4a4eb, #a1d4a1, #a4a4eb, #a1d4a1, #a4a4eb);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fill;
  height: 100%;
  width: 100%;
  color: black;
  top: 0;
  left: 0;
  position: fixed;
  overflow-y: scroll;
}


.maincontainer {
  margin: 0 20px;
  z-index: 1;
}

.social {
  height: 30px;
  width: 30px;
  margin: 5px;
}

.logo {
  height: 60px;
  width: 60px;
  margin: 20px;
}



.title {
  text-align: center;
  padding-top: 20px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: stretch;
  align-items: center;
}

.title h1 {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.pagetitle {
  text-align: center;
  color: rgb(129, 99, 23); 
}

.langicon {
  height: 25px;
  width: 25px;
}

.englishscore {
  width: 70%;
  margin: 10px 15%;
}

.langSwitch {
  margin-top: 10px;
  margin-left: 10px;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .title {
    grid-template-columns: 1fr;
  }
}


.homecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.homecard {
  width: 100%;
  cursor:default;
}

.homeimage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: default;
}

.footer {
  text-align: center;
}

.imagecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  .imagecard {
    width: 100%;
    margin: 10px;
  }
}

.itemtitle {
  text-align: center;
}

.notice {
  color: red;
}



@media screen and (max-width: 600px) {
  .homecontainer {
    grid-template-columns: 1fr;
  }

  .homecard {
    width: 100%;
  }

  .imagecontainer {
    display: inline-block;
  }
}

@media screen and (max-width: 1024px) {
  .homecard {
    width: 100%;
  }
}